PORT=3000

MP_ACCESS_TOKEN=tu_access_token_de_mercadopago

NGROK_URL=https://chanelle-unmoralising-craftily.ngrok-free.dev

FRONTEND_URL=http://localhost:5173

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=tu_email@gmail.com
EMAIL_PASS=tu_contraseña_de_app
ADMIN_EMAIL=admin@tudominio.com

# MongoDB
MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/lataller?retryWrites=true&w=majority

# Admin Panel
JWT_SECRET=un_secreto_jwt_largo_y_seguro_cambiar_esto
ADMIN_PASSWORD_HASH=$2b$10$HASH_GENERADO_CON_hashPassword.js
